div.member
  div.member_slider.slider
    div.slider_btn.slider_btn-prev <
    div.slider_list
      div.slider_itme.item
        p.item_ttl Operatorの申し子
        img(src=require("Images/banner/xAkechi.png")).item_banner
        div.item_attr.attr
          div.attr_item
            p.attr_item-left Name
            p.attr_item-center :
            p.attr_item-right xAkechi
          div.attr_item
            p.attr_item-left Roll
            p.attr_item-center :
            p.attr_item-right Duelist
          div.attr_item
            p.attr_item-left Attribute
            p.attr_item-center :
            p.attr_item-right Design Owner
          div.attr_item
            p.attr_item-left Link
            p.attr_item-center :
            p.attr_item-right Twitter
    div.slider_btn.slider_btn-next >