div.about_wrapper
  div.about
    h2.about_ttl About
    p.about_txt
      |BNP-eSportsは、VALORANTをプレイする社会人で構成されたアマチュアチームです。<br>
      |我々は情熱を持ってプレイしチーム内で様々なイベントを開催していく予定です。<br>
      |これらの活動を通じて、プレイヤー同士の連携やスキルの向上を図り<br>
      |楽しく競技を極めることを目指しています。