extends Pages/layout_default.pug

block variables
  - const title = 'BNP e-Sports'

append script
  //- App loader
  script(src=require('./main.js'))

block content
  main.container
    div#cont-scene