div.topic
  div.topic_inner
    h2.topic_ttl Topic
    div.topic_list
      div.topic_item
        img(src=require("Images/dammy.png"), alt="").topic_img
        p.topic_date 2023.5.25
        p.topic_caption
          |Official Siteを公開しました。<br>
          |BNP-eSportsは、VALORANTをプレイする社会人で構成されたアマチュアチームです。