div.mainVisual
  div.mainVisual_content
    p.mainVisual_catchCopy 新たな挑戦が、今始まる
    div.mainVisual_trademark.trademark
      div.trademark_outline.trademark_outline-1
      div.trademark_outline.trademark_outline-2
      div.trademark_outline.trademark_outline-3
      div.trademark_content
        p.teamName_ttl BNP
        p.teamName_ttl.teamName_ttl-sub eSports
  div.mainVisual_bgImgArea
    img(src=require("Images/bg_omen.png"))
    img(src=require("Images/bg_viper.png"))
  include ./line.svg